<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cms</title>

	{{ assets.outputCss('cssHead') }}
	{{ assets.outputJs('jsHead') }}
</head>
<body>
	<header id="header">
		<nav class="menu left">
			<ul>
				<li><a href="#">Preview</a></li>
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Content</a></li>
				<li><a href="#">Shop</a></li>
				<li><a href="#">Resources</a></li>
				<li><a href="#">Pages</a></li>
				<li><a href="#">Users</a></li>
				<li><a href="#">Templates</a></li>
				<li><a href="#">Settings</a></li>
			</ul>
		</nav>

		<nav class="menu right">
			<ul>
				<li><a href="#">Seo</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</nav>
	</header>

	{{ content() }}

	{{ assets.outputJs('jsBody') }}
</body>
</html>

